.containerLogIn{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: #E4CDEC;
    width: 100%;
    height: 100vh;
}
    .containerFormLogIn{
        display: flex;
        flex-flow: column;
    }
        .containerTittleLogin{
            display: flex;
            justify-content: center;

            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 20px;
            line-height: 37px;
            text-align: center;
            color: #742092;
        }
        .containerDataLogin{
            display: flex;
            flex-flow: column;
        }
        .containerBtnSocialLogin{
            display: flex;
            flex-flow: column;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .containerBtnLogin{
            display: flex;
            justify-content: center;
            flex-flow: column;
            margin-top:10%;
        }
        .containerRegisterLogin{
            padding-top: 20px;
            display: flex;
            flex-flow: column;
            align-items: center;
            color: #742092;
            font-family: 'Montserrat';
           
        }
.facebook,        
.google{
    background: #AE6AC7;
    color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    border-radius: 29px;
    border: none;
}
.logosIngresos{
    padding: 12%;
    margin-left: -30%;
}
.buttonLogIn{
    background: #742092;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    border: none;
}
.emailInput, .passwordInput{
    width: 250px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #AE6AC7;
    border-radius: 4px;
    margin-top: 8%;
}