.containerSignIn{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: #E4CDEC;
    width: 100%;
    height: 100vh;
}
    .containerFormSignIn{
        display: flex;
        flex-flow: column;
    }
        .containerTittleSignIn{
            display: flex;
            justify-content: center;

            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 20px;
            line-height: 37px;
            text-align: center;
            color: #742092;
        }
            .nameInput, .phoneInput,.emailInputDos,.passwordInputDos {
                height: 23%;
                background: #FFFFFF;
                border: 1px solid #AE6AC7;
                border-radius: 4px;
                margin-top: 8%;
            }
           
        .containerDataSignIn{
            display: flex;
            flex-flow: column;
            height: 217px;
        }
        .containerBtnSocialSignIn{
            display: flex;
            flex-flow: column;
            text-align: center;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .containerBtnSignIn{
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }
        .containerRegisterSignIn{
            padding-top: 20px;
            display: flex;
            flex-flow: column;
            align-items: center;

        }
        .createSignIn{
            background: #742092;
            color: white;
            height: 8vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 29px;
            border: none;
            width: 100%;
        }
        .containertextSignIn{
            color: #742092;
            font-family: 'Montserrat';
        }

